{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{# 
 {{ form_start(formSearch) }}

<div class="container form-group">

{{ form_row(formSearch.format) }}
</div>

<div class="container text-center">
    <button type="submit" class="btn btn-success"> Anime au hasard ! </button>
</div>

{{ form_end(formSearch) }}  #}



{% endblock %}
